/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.3s;
}
/* End Variables */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.parent {
    background-color: #eee;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* Start Components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p {
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    color: #797979;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/* End Components */
/* Start Header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* direction: rtl; */
}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
    width: 100%;
}
.header .links .icon span:first-child {
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}
.header .links .icon span:last-child {
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    transition: display 3s;
    z-index: 1;
}
.header .links ul::before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #F6F6F6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links:hover ul {
    display: block;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--main-duration);
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #DDD;
}
/* End Header */
/* Start Landing Section */
.landing {
    background-image: url("../images/mountain.jpg");
    height: calc(100vh - 64px);
    background-size: cover;
    position: relative;
}
.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 375px;
    max-width: 100%;
    transform: translate(-50%, -50%);
}
.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
    
}
/* End Landing Section */
/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
}
.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
    margin: 0;
}
/* End Features */
/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .service {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .services-content .service {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .service i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .service .text {
    flex: 1;
}
.services .services-content .service .text h3 {
    margin: 0 0 20px;
}
.services .services-content .service .text p {
    color: #777;
    font-weight: 300;
    line-height: 1.6;
}
.services .services-content .image {
    text-align: center;
    position: relative;
}
.services .services-content .image::before {
    content: '';
    position: absolute;
    right: 0;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    z-index: -1;
}
.services .services-content .image img {
    width: 260px;
    height: 325px;
}
@media (max-width: 1199px) {
    .services .services-content .image {
        display: none;
    }
}
/* End Services */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    background-color: white;
}
.portfolio .portfolio-content .card img {
    width: 100%;
}
.portfolio .portfolio-content .card .info {
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}
.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.8;
    margin-bottom: 0;
}
/* End Portfolio */
/* Start About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about-content .image {
    position: relative;
    width: 300px;
    height: 330px;
}
@media (max-width: 991px) {
    .about-content {
        /* align-items: center; */
    }
    .about-content .image {
        margin-bottom: 60px;
        margin: 0 auto 60px; /* instead of about-content { align-items: center; } */
    }
}
.about-content .image::before {
    content: '';
    position: absolute;
    width: 110px;
    height: calc(100% + 123px);
    background-color: #ebeced;
    top: -61.5px;
    left: -20px;
    z-index: -1;
}
.about-content .image::after {
    content: '';
    width: 100px;
    height: 283px;
    position: absolute;
    border-left: 90px solid var(--main-color);
    border-bottom: 70px solid var(--main-color);
    top: -40px;
    right: -135px;
    z-index: -1;
}
@media (max-width: 991px) {
    .about-content .image::before,
    .about-content .image::after {
        display: none;  
    }
}
.about-content .image img {
    max-width: 100%;
}
.about-content .text {
    flex-basis: calc(100% - 500px);
}
.about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}
/* End About */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact-content {
    margin: 60px;
}
.contact-content > h2 {
    font-size: 55px;
    letter-spacing: -6px;
    color: #2c4755;
    margin-bottom: 15px;
}
.contact-content > h3 {
    font-size: 50px;
    letter-spacing: -4px;
    color: var(--main-color);
    margin: 0 0 40px 42px;
    position: relative;
    z-index: 0;
    display: inline-block;
}
.contact-content > h3::after {
    content: '';
    position: absolute;
    width: calc(100% + 25px);
    height: 33px;
    background-color: white;
    left: -5%;
    bottom: -5px;
    z-index: -1;
}
.contact-content .social-icons {
    margin-left: 100px;
}
.contact-content .social-icons i {
    display: inline-block;
    margin-left: 25px;
}
/* End Contact */
/* Start Footer */
footer {
    /* display: flex;
    background-color: var(--secondary-color);
    height: 100px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: 800; */
    height: 100px;
    background-color: var(--secondary-color);
    text-align: center;
    color: white;
    padding: 50px 0;
}
footer span {
    color: var(--main-color);
}
/* End Footer */
